*~
*.o
.deps
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
ChangeLog
Makefile
Makefile.in
bundler-helper
test.squashfs
INSTALL
test-bundle
bundler-trampoline
bundler-tool
bundler.spec
